* {
  margin: 0;
  padding: 0;
  color: rgb(246, 249, 252);
  box-sizing: border-box;
  font-family: "Noto Sans Syloti Nagri", sans-serif;
}
/* General Layouts */
body,
html {
  background-color: rgb(29, 33, 60);
}
.whole {
  display: flex;
  align-items: center;
justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  min-height: 100vh;
}
.container {
  max-width: 800px;
 
  box-shadow: 0 0 29px 5px rgba(0, 0, 0, 0.2);
}
header {
  display: flex;
  background: rgb(38, 43, 73);
  padding: 1.5rem;
}
.header_main {
  display: flex;
}
.company {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(35, 39, 68);
  padding: 2rem 1rem;
}
.general,
.total,
.volunteer,
.general_part,
.sick {
  display: flex;
  justify-content: space-between;
}
.gen,
.tot,
.volun,
.gen_part,
.sick_part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
/* Font Related Definitions */
.title {
  text-transform: uppercase;
  font-weight: 300;
}
.title.pto,
.title.name {
  font-size: 1.5rem;
  font-weight: 500;
}
.review_icon img:hover{
transform: scale(1.2);
transition: all 1s;
}
.review_num {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 500;
}
.detail p {
  font-family: "roboto";
  font-weight: 300;
}
.paid_time_off > *:not(h1) {
  font-weight: 300;
  font-size: 1rem;
  font-family: "roboto";
}
.openings_num,
.employee_num,
.paid_time_off .title {
  font-family: "roboto";
}
.openings_num,
.employee_num {
  font-size: 1.2rem;
  font-weight: 500;
}
.openings_num {
  color: rgb(233, 59, 118);
}
/* Length and Spacing Definitions */
.intro {
  margin-bottom: 1rem;
}
.jobs > div {
  margin: 1.5rem;
  font-size: 0.7rem;
}
.jobs {
  min-width: 30%;
}
.paid_time_off > * {
  margin: 0.6rem;
}
.logo img {
  width: 5rem;
  
  border-radius: 100%;
}
.review_icon img {
  width: 4.5rem;
  height: 2.5rem;
}
.next img {
  width: 2.5rem;
  cursor: pointer;
  position: relative;
  top: 41%;
  left: 50%;
}
.next img:hover {
  transform: scale(1.2);
  transition: all 1s;
}
.prev img {
  width: 2.5rem;
  cursor: pointer;
  position: relative;
  top: 41%;
  right: 50%;
}
.prev img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.link a {
  text-decoration: none;
  color: rgb(254, 124, 167);
  cursor: pointer;
}
.link a:hover{

  color: rgb(251, 24, 107);
  transition: all 1s;
}
/* Media Queries related definations */

/* Change in main section layout*/
@media (max-width: 700px) {
  main {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .jobs {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .paid_time_off .title {
    text-align: center;
  }
}
/* Change in Header section and
 Main section Paid Time Of section layout  */
@media (max-width: 600px) {
  .header_main {
    flex-direction: column;
  }
  .title.company_name,
  .link {
    text-align: center;
  }
  .company {
    flex-direction: row;
    justify-content: space-between;
  }
  .paid_time_off {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .paid_time_off > * {
    max-width: 100%;
  }
}
/* Smaller Devices Layout */
@media (max-width:450px) {
.detail p,.link a{
  font-size: .84rem;
}
.link a:hover{
  font-size: .85rem;
  color: rgb(251, 24, 107);
  transition: all 1s;
}
.title.company_name{
  font-size: 1.5rem;
}
.prev img,.next img{
  width: 2rem;
}
.prev img{
  right: 0;
}
.next img{
  left: 0;
}
header{
  padding: 1.5rem 0;
}
.whole{
  padding: 0;
}
main{
  padding: 2rem 0;
}
div.next,div.prev{
  position: relative;
  width: max-content;
}
.general,
.total,
.volunteer,
.general_part,
.sick {
  display: grid;
  grid-template-columns: minmax(0,70%)  minmax(0,30%);
}
.gen,
.tot,
.volun,
.gen_part,
.sick_part {
  width: 100%;
justify-self: end;
}
.paid_time_off >*:not(h1){
  font-size: 0.8rem;
  padding: 0 0.7rem;
}
}